body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.default {
    position: absolute;
    top: 0;
    left: 0;
}

#banner {
    background: #111;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    opacity: 0;

    #glasses {
        position: absolute;
        top: 0;
        left: 0;
    }



    #laptop {
        position: absolute;
        top: 0;
        left: 0;
        // width: 197px;
    }

    #logo {
        position: absolute;
        width:73px;
        bottom: 20px;
        left: 20px;

    }

    #cta {
        position: absolute;
        width:133px;
        height:35px;
        bottom: 40px;
        right: 20px;
        background-color: rgba(245, 204, 2, 1);
    }



    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    #border {
        display: block;
        width: $banner-width;
        height: $banner-height;
        pointer-events: none;
        outline: solid 1px #ccc;
        outline-offset: -1px;
        z-index: 999;
    }


}
